<template>
  <main>
    <the-reader-header
      :currentPage="currentPage"
      :setCurrentPage="changePageAndNavigate"
      :pagesCount="pagesCount"
    />

    <div v-if="isFormatted">
      <the-reader
        :userBookId="userBookId"
        :userImages="userImages"
        :setCurrentPage="handleChangeCurrentPage"
        :isChildrenLoaded="isChildrenLoaded"
        :setIsChildrenLoaded="handleChangeIsChildrenLoaded"
      />
    </div>

    <div v-else-if="isBookFormattingInProgress" class="spinner-container">
      <spinner-component />
    </div>

    <the-settings-modal
      :userBookId="userBookId"
      :getUserBook="getUserBook"
      :onChangeIsBookFormattingInProgress="
        handleChangeIsBookFormattingInProgress
      "
    />
  </main>
</template>

<script>
import axios from "axios";
import { throttle } from "throttle-debounce";
import TheReader from "../components/TheReader.vue";
import TheReaderHeader from "../components/TheReaderHeader.vue";
import TheSettingsModal from "../components/TheSettingsModal.vue";
import SpinnerComponent from "../components/SpinnerComponent.vue";

export default {
  components: {
    TheReader,
    TheReaderHeader,
    TheSettingsModal,
    SpinnerComponent,
  },
  data: () => ({
    userBookId: "",
    isInitialized: false,
    isChildrenLoaded: false,
    isFormatted: false,

    isBookFormattingInProgress: false,

    bookLongPollingInterval: null,

    userImages: [],
    currentPage: 1,
  }),
  updated() {
    if (this.isChildrenLoaded && !this.isInitialized) {
      this.initializePage();
    }
  },
  mounted() {
    this.getUserBook();
  },
  computed: {
    pagesCount() {
      return this.userImages.length;
    },
  },
  methods: {
    handleChangeCurrentPage: throttle(3000, async function (page) {
      if (this.isInitialized) {
        try {
          this.currentPage = page;

          await axios.put("/rest/books/set-page", {
            currentPage: page,
          });
        } catch (error) {
          console.error("Error while trying to save current page", error);
        }
      }
    }),

    async changePageAndNavigate(page) {
      if (this.isInitialized) {
        try {
          this.currentPage = page;

          await axios.put("/rest/books/set-page", {
            currentPage: page,
          });

          this.navigateToPage(page);
        } catch (error) {
          console.error("Error while trying to save current page", error);
        }
      }
    },
    navigateToPage(page) {
      const pageToScroll = document.querySelector(
        `img[data-page-number="${page}"]`
      );

      if (pageToScroll) {
        pageToScroll.scrollIntoView(true);
      } else {
        console.error("Error while navigating to page", page);
      }
    },
    handleChangeIsChildrenLoaded(isChildrenLoaded) {
      this.isChildrenLoaded = isChildrenLoaded;
    },
    async getUserBook() {
      try {
        const { data } = await axios.get("/rest/books");

        this.userBookId = data.userBookId;

        this.isFormatted = data.isFormatted;

        if (data.isFormatted) {
          this.isBookFormattingInProgress = false;

          if (this.bookLongPollingInterval) {
            clearInterval(this.bookLongPollingInterval);
          }
        }

        this.userImages = data.isFormatted ? data.userImages : [];

        this.currentPage = data.currentPage;
      } catch (error) {
        console.error("Error while getting user book");
      }
    },
    initializePage() {
      if (this.currentPage !== 1) {
        this.navigateToPage(this.currentPage);
      }

      this.isInitialized = true;
    },

    handleChangeIsBookFormattingInProgress(isBookFormattingInProgress) {
      this.isBookFormattingInProgress = isBookFormattingInProgress;

      this.$modal.hide("settings-modal");

      if (isBookFormattingInProgress) {
        this.bookLongPollingInterval = setInterval(() => {
          this.getUserBook();
        }, 3000);
      }
    },
  },
};
</script>

<style scoped>
.spinner-container {
  height: 100%;
  display: flex;
  align-items: center;
}
</style>
