<template>
  <main class="sign-up-container">
    <logo-title />

    <h3 class="sign-up-title">Sign up</h3>

    <p class="terms-of-use-text">
      By signing up, I agree to the EverywhereRead‘s
    </p>

    <link-component className="terms-of-use-link" url="/terms"
      >Terms of service</link-component
    >

    <div class="sign-up-fields">
      <text-field
        v-model="email"
        label="Email"
        id="email-text-field"
        className="sign-up-email-text-field"
        labelClassName="sign-up-label"
      />

      <text-field
        v-model="password"
        type="password"
        label="Password"
        id="password-text-field"
        className="sign-up-password-text-field"
        labelClassName="sign-up-label"
      />

      <base-button className="sign-up-button" :onClick="handleSignUpUser">
        Sign up
      </base-button>
    </div>

    <img class="sign-up-image" :src="signUpImage" />

    <notifications position="top right" />
  </main>
</template>

<script>
import LogoTitle from "../components/LogoTitle";
import LinkComponent from "../components/LinkComponent";
import TextField from "../components/TextField";
import BaseButton from "../components/BaseButton";
import signUpImage from "../assets/cropped-olives.png";
import axios from "axios";

export default {
  components: {
    LogoTitle,
    LinkComponent,
    BaseButton,
    TextField,
  },
  data: () => ({
    password: "",
    email: "",
    signUpImage,
  }),
  methods: {
    async handleSignUpUser() {
      try {
        await axios.post("/rest/signup", {
          email: this.email,
          password: this.password,
        });

        this.$notify({
          title: "Success!",
          text: "Account was created",
          type: "success",
        });
      } catch (error) {
        console.error("Error while trying to sign up", error);

        this.$notify({
          title: "Sign up error",
          text: "Problems with email",
          type: "error",
        });
      }
    },
  },
};
</script>

<style scoped>
main.sign-up-container {
  height: 100%;
  width: 100%;

  background: #4d5ae5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-title {
  font-family: Roboto;

  font-size: 36px;
  margin-top: 55px;

  color: #ffffff;
}

.terms-of-use-text {
  margin-top: 32px;
  font-family: Roboto;

  font-size: 18px;

  color: #ffffff;
}

.terms-of-use-link {
  margin-top: 8px;
}

.sign-up-fields {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-button {
  margin-top: 54px;
}

label.sign-up-label {
  color: white;
}

.text-field-container:not(:first-of-type) {
  margin-top: 16px;
}

.sign-up-image {
  position: absolute;
  width: 25%;
  left: 0;
  bottom: 45px;
}

@media screen and (max-width: 1368px) {
  .sign-up-title {
    display: none;
  }
}

@media (max-width: 1024px) {
  img.sign-up-image {
    display: none;
  }
}
</style>
