<template>
  <main class="start-page-container">
    <logo-title />

    <the-description />

    <div class="start-page-buttons-container">
      <base-button
        className="login-button"
        type="primary"
        :onClick="handleOpenModal"
      >
        Login
      </base-button>

      <base-button className="sign-up-button" :onClick="redirectToSignUp">
        Sign Up
      </base-button>
    </div>

    <img class="start-page-image" :src="startPageImage" />

    <the-login-modal />

    <notifications position="top right" />
  </main>
</template>

<script>
import LogoTitle from "../components/LogoTitle";
import TheDescription from "../components/TheDescription";
import BaseButton from "../components/BaseButton";
import TheLoginModal from "../components/TheLoginModal";
import startPageImage from "../assets/start-page-books.png";

export default {
  name: "StartPage",
  components: {
    LogoTitle,
    TheDescription,
    BaseButton,
    TheLoginModal,
  },
  data: () => ({
    startPageImage,
  }),
  methods: {
    redirectToSignUp() {
      this.$router.push("signup");
    },
    handleOpenModal() {
      this.$modal.show("login-modal");
    },
  },
};
</script>

<style scoped>
main.start-page-container {
  height: 100%;
  width: 100%;

  background: #4d5ae5;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page-buttons-container {
  margin-top: 130px;

  display: flex;
  flex-direction: column;
}

.sign-up-button {
  margin-top: 27px;
  margin-bottom: 20px;
}

img.start-page-image {
  position: absolute;
  width: 25%;
  right: 24px;
  bottom: 0;
}

@media screen and (max-width: 1440px) {
  .start-page-buttons-container {
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  img.start-page-image {
    display: none;
  }
}
</style>
