<template>
  <main class="terms-container">
    <h1>EverywhereRead terms</h1>

    <h2>Forbidden actions</h2>

    <p>Probe, scan, or test the vulnerability of any system or network</p>

    <p>Use site for spamming, overloading, etc.</p>

    <p>Use virus as file for uploading to site</p>

    <p>
      Publish, share, or store materials thatconstitute child sexually
      exploitative material (including material which may not be illegal child
      sexual abuse material but which nonetheless sexually exploits or promotes
      the sexual exploitation of minors), unlawful pornography, or are otherwise
      indecent
    </p>

    <p>
      Publish, share, or store content that contains or promotes extreme acts of
      violence or terrorist activity, including terror propaganda
    </p>

    <p>
      Violate the law in any way, including storing, publishing or sharing
      material that’s fraudulent, defamatory, or misleading, or that violates
      the intellectual property rights of others
    </p>
  </main>
</template>

<script>
export default {};
</script>

<style scoped>
main.terms-container {
  width: 70%;
  padding: 0 16px;
  margin: 0 auto;
}

h1, h2 {
  font-family: Georama;

  margin-bottom: 12px;
}

h1 {
  font-size: 24px;
  margin-top: 12px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-family: Roboto;

  margin-bottom: 8px;
}
</style>
