<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="views/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="views/favicon-16x16.png">
  <link rel="manifest" href="views/everywhere-read.webmanifest">
  <title>
   EverywhereRead 
  </title>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>