<template>
  <button :class="[buttonType, className]" @click="handleClick">
    <span class="inner-text">
      <slot></slot>
    </span>
  </button>
</template>

<script>
export default {
  name: "BaseButton",
  props: {
    type: String,
    onClick: Function,
    className: String,
  },
  computed: {
    buttonType: function () {
      const baseClass = "base-button";

      if (this.type === "primary") return baseClass + " primary-button";

      return baseClass + " secondary-button";
    },
  },
  methods: {
    handleClick: function () {
      this.onClick();
    },
  },
};
</script>

<style scoped>
.base-button {
  max-width: 100%;
  width: 215px;
  height: 56px;
  border-radius: 28px;
  outline: none;
  border: none;
  cursor: pointer;

  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.base-button:hover {
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.primary-button {
  background: #282c35;
}

.primary-button:hover {
  background-color: #36393f;
}

.secondary-button {
  background: #fff;
}

.secondary-button:hover span {
  color: #4d5ae5;
}

.inner-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.primary-button > .inner-text {
  color: #fff;
}

.secondary-button > .inner-text {
  color: #282c35;
}
</style>
