<template>
  <button :class="[buttonType, className]" @click="handleClick">
    <span class="inner-text">
      <slot></slot>
    </span>
  </button>
</template>

<script>
export default {
  name: "CompactButton",
  props: {
    type: String,
    onClick: Function,
    className: String,
  },
  computed: {
    buttonType: function () {
      const baseClass = "base-button";

      if (this.type === "primary") return baseClass + " primary-button";
      if (this.type === "danger") return baseClass + " danger-button";
      if (this.type === "link") return baseClass + " link-button";

      return baseClass + " secondary-button";
    },
  },
  methods: {
    handleClick: function () {
      this.onClick();
    },
  },
};
</script>

<style scoped>
.base-button {
  max-width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  height: 32px;
  min-width: 50px;
  border-radius: 3px;

  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.link-button {
  background: none;
}

.link-button > .inner-text {
  font-size: 12px;
}

.link-button:hover > .inner-text {
  text-decoration: underline;
}

.primary-button {
  background: #4d5ae5;
}

.primary-button:hover {
  background-color: #3c46b7;
}

.secondary-button {
  background: #4f545c;
}

.secondary-button:hover {
  background: #686d73;
}

.danger-button {
  background: #e15757;
}

.danger-button:hover {
  background: rgb(169, 66, 66);
}

.inner-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}

.base-button > .inner-text {
  color: #fff;
}
</style>
