<template>
  <figure v-lazyload v-pageload class="image-wrapper">
    <img class="image-item" :data-url="source" :style="cssProps" alt="book image" :data-page-number="pageNumber" />
  </figure>
</template>

<script>
import LazyLoadDirective from "../directives/LazyLoadDirective";
import PageLoadDirective from "../directives/PageLoadDirective";

export default {
  name: "ImageItem",
  directives: {
    lazyload: LazyLoadDirective,
    pageload: PageLoadDirective,
  },
  props: {
    source: {
      type: String,
      required: true,
    },
    screenHeight: String,
    pageNumber: Number,
    isChildrenLoaded: Boolean,
    setCurrentPage: Function,
    setIsChildrenLoaded: Function,
  },
  computed: {
    cssProps() {
      return {
        "--image-item-height": this.screenHeight || 700,
      };
    },
  },
};
</script>

<style scoped>
.image-item, .image-wrapper {
  height: var(--image-item-height);
  max-width: 100%;
}
</style>