<template>
  <h1 :class="['logo-title', className]">EverywhereRead</h1>
</template>

<script>
export default {
  name: "LogoTitle",
  props: {
    className: String,
  },
};
</script>

<style scoped>
h1.logo-title {
  font-family: Georama, sans-serif;
  font-weight: 600;
  font-size: 48px;

  color: #ffffff;

  margin-top: 16%;

  user-select: none;
}

@media screen and (max-width: 1440px) {
  h1.logo-title {
    margin-top: 5%;
  }
}
</style>