<template>
  <div class="book-upload-block">
    <h3 class="account-block-heading">Book settings:</h3>

    <input
      type="file"
      name="book-upload"
      class="book-upload-input"
      @change="handleChangeInputFile"
    />

    <div class="book-upload-actions">
      <compact-button
        className="save-book-button"
        type="primary"
        :onClick="handleSaveBook"
      >
        Save book
      </compact-button>

      <compact-button
        className="delete-book-button"
        type="danger"
        :onClick="handleDeleteBook"
      >
        Delete book
      </compact-button>
    </div>
  </div>
</template>

<script>
import CompactButton from "./CompactButton";
import axios from "axios";

export default {
  name: "TheAttachBook",
  components: {
    CompactButton,
  },
  props: {
    userBookId: String,
    onRefresh: Function,
    onChangeIsBookFormattingInProgress: Function,
  },
  data: () => ({
    file: null,
  }),
  methods: {
    handleChangeInputFile(e) {
      if (e.currentTarget.files && e.currentTarget.files[0]) {
        this.file = e.currentTarget.files[0];
      }
    },
    async handleDeleteBook() {
      try {
        await axios.delete(`/rest/books/${this.userBookId}`);

        this.onRefresh();
      } catch (error) {
        console.error("Error while deleting book", error);
      }
    },
    async handleSaveBook() {
      try {
        const formData = new FormData();

        formData.append("data", this.file);

        await axios.post("/rest/books", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });

        this.onRefresh();

        this.onChangeIsBookFormattingInProgress(true);
      } catch (error) {
        console.error("Error while saving book", error);
      }
    },
  },
};
</script>

<style scoped>
.book-upload-block-heading {
  font-family: Georama, sans-serif;
  padding: 10px;
  font-weight: 400;
}

.book-upload-block {
  display: flex;
  flex-direction: column;

  padding: 10px;
}

.book-upload-actions {
  display: flex;
  flex-direction: row;

  margin-top: 16px;
}

.book-upload-actions > button {
  margin-right: 10px;
  width: 130px;
}

.book-upload-input {
  margin: 10px;
}
</style>
