<template>
  <p class="app-description">
    You can read everywhere with this tool! Read on phone and then at home
    switch to laptop and read further
  </p>
</template>

<style scoped>
p.app-description {
  font-family: Roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #ffffff;

  margin-top: 57px;

  width: 60.83%;
}

@media screen and (max-width: 1440px) {
  p.app-description {
    margin-top: 24px;
  }
}
</style>