<template>
  <header class="header-container">
    <div class="logo-block">
      <h1 class="header-logo">EverywhereRead</h1>
    </div>

    <div class="pages-navigation-block">
      <text-field
        className="page-text-field"
        v-model="tempCurrentPage"
        :onBlur="handleBlurPageField"
      />

      <compact-button
        type="link"
        className="go-to-page-button"
        :onClick="changeCurrentPage"
      >
        Go to page
      </compact-button>
    </div>

    <compact-button
      type="link"
      className="settings-block"
      :onClick="handleOpenSettings"
    >
      Settings
    </compact-button>
  </header>
</template>

<script>
import CompactButton from "./CompactButton.vue";
import TextField from "./TextField.vue";
export default {
  components: { TextField, CompactButton },
  name: "TheReaderHeader",
  data: () => ({
    tempCurrentPage: 0,
  }),
  props: {
    currentPage: Number,
    pagesCount: Number,
    setCurrentPage: Function,
  },
  watch: {
    currentPage(value) {
      this.tempCurrentPage = value;
    },
  },
  methods: {
    handleOpenSettings() {
      this.$modal.show("settings-modal");
    },
    changeCurrentPage() {
      this.setCurrentPage(this.tempCurrentPage);
    },
    handleBlurPageField() {
      if (
        isNaN(Number(this.tempCurrentPage)) ||
        this.tempCurrentPage <= 0 ||
        this.tempCurrentPage > this.pagesCount
      ) {
        this.tempCurrentPage = this.currentPage;
      }
    },
  },
};
</script>

<style>
.header-container {
  background-color: #4d5ae5;
  height: 50px;

  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.header-logo {
  font-size: 24px;

  color: #ffffff;
  font-family: Georama, sans-serif;
  user-select: none;
}

.pages-navigation-block {
  flex-basis: 170px;
  align-items: center;
}

.page-text-field > label.text-field-label {
  margin: 0;
}

.page-text-field > input.text-field-input {
  width: 50px;
}

.settings-block {
  color: #fff;
  font-size: 12px;

  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.pages-navigation-block {
  display: flex;
}
</style>
