<template>
  <main class="reader-container">
    <div class="reader-inner">
      <image-item
        v-for="(image, index) in userImages"
        :screenHeight="screenHeight"
        :key="image"
        :source="image"
        :pageNumber="index + 1"
        :setCurrentPage="setCurrentPage"
        :isChildrenLoaded="isChildrenLoaded"
        :setIsChildrenLoaded="setIsChildrenLoaded"
      />
    </div>
  </main>
</template>

<script>
import ImageItem from "./ImageItem.vue";

export default {
  components: { ImageItem },
  name: "TheReader",
  data: () => ({
    screenHeight: "700px",
  }),
  mounted() {
    this.screenHeight = `${screen.availHeight - 50}px`;
  },
  props: {
    userBookId: String,
    originalName: String,
    userImages: Array,
    setCurrentPage: Function,
    isChildrenLoaded: Boolean,
    setIsChildrenLoaded: Function,
  },
};
</script>

<style scoped>
.reader-container {
  padding: 0 30%;
}

@media screen and (max-width: 800px) {
  .reader-container {
    padding: 0 5%; 
  }
}

.reader-inner {
  display: flex;

  flex-direction: column;
}
</style>