<template>
  <modal
    name="settings-modal"
    classes="settings-modal"
    height="350"
    width="350"
  >
    <div class="account-block">
      <h3 class="account-block-heading">Account settings:</h3>

      <compact-button
        type="secondary"
        className="logout-button"
        :onClick="handleLogOutUser"
      >
        Log out
      </compact-button>
    </div>

    <the-attach-book
      :userBookId="userBookId"
      :onRefresh="getUserBook"
      :onChangeIsBookFormattingInProgress="onChangeIsBookFormattingInProgress"
    />
  </modal>
</template>

<script>
import axios from "axios";
import TheAttachBook from "./TheAttachBook.vue";
import CompactButton from "./CompactButton.vue";

export default {
  name: "TheSettingsModal",
  components: {
    CompactButton,
    TheAttachBook,
  },
  props: {
    userBookId: String,
    getUserBook: Function,
    onChangeIsBookFormattingInProgress: Function,
  },
  methods: {
    handleCloseSettings() {
      this.$modal.hide("settings-modal");
    },
    async handleLogOutUser() {
      try {
        const {
          data: { redirect },
        } = await axios.post("/rest/logout");

        this.$router.go(redirect);
      } catch (error) {
        console.error("Error while trying to logout", error);
      }
    },
  },
};
</script>

<style>
.settings-modal {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  justify-content: space-between;
  padding: 10px 0;
}

.account-block {
  padding: 10px;
}

.account-block > button {
  width: 160px;
}

.account-block-heading {
  font-family: Georama, sans-serif;
  padding: 10px;
  font-weight: 400;
}
</style>
