<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        document.title = to.meta.title || "EverywhereRead";
      },
    },
  },
};
</script>

<style>
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap");

html,
body,
#app {
  height: 100%;
}
</style>